// See: https://sass-lang.com/

body,
html {
  margin: 0;
}
@media only screen and (max-width: 765px) {

  body {
    font-size: 1.5em;
  }
  h1{
    font-size: 32px;
    text-align: center;
  }
  #public-quizzess{
    margin-left: 15%;
    text-align: center;
  }
}