body {
  min-height: 100vh;
  background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
  color: white !important;
}

nav {
  border: 1px solid #ffffff3d;
}

input {
  background-color: #fff0;
}

input::placeholder {
  color: #ffffff7c;
}
