#questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#question-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choices {
  display: flex;
  flex-direction: column;
}

.question span {
  font-size: larger;
}
