body {
  text-align: center;
}
#results-container {
  padding: 30px 0 30px 0;
  border-radius: 25px;
}

span {
  font-size: 2em;
}

#results-id {
  display: none;
}
#copy {
  font-size: 50px;
}

#url {
  display: none;
}
